<template name="characterShow">
<div class="characterProfile container-fluid">
  <div class="avatar">
    <img src="{{avatarUrl}}" class="img-rounded">
  </div>
  <hr/>
  <div class="row text-center">
    <div class="col-md-4">
      <strong>2v2 PvP Bracket</strong><br/>
      <div id="ARENA_BRACKET_2v2"></div>
    </div>
    <div class="col-md-4">
      <strong>3v3 PvP Bracket</strong><br/>
      <div id="ARENA_BRACKET_3v3"></div>
    </div>
    <div class="col-md-4">
      <strong>5v5 PvP Bracket</strong><br/>
      <div id="ARENA_BRACKET_5v5"></div>
    </div>
  </div>
</div>
</template>
